$primary-color: #1677ff;
$head-color: #4096ff;
$blue4: #69b1ff;
$secondary-color: #6c6c6c;
$black-color: #000000;

$body-color: #fafdff;


$font-size-def: 16px;
$font-size-big: 32px;

$error-color: #ff4d4f;

$status-red-color: #e70812;
$status-blue-color: #1890ff;
$status-orange-color: #efa206;
$status-green-color: #14b537;

