.wrapper {
  position: relative;
  height: 100%;

  ul {
    background: transparent !important;
    border-bottom: none !important;
    height: 100%;

    li {
      display: flex !important;
      align-items: center !important;
      color: #4d5164 !important;
      line-height: 64px !important;
    }
  }
}
