@import "../../../../utils/shared";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background: white;
  padding: 0 58px;
  box-shadow: 0 8px 24px -2px rgb(0 0 0 / 5%);

  .logo {
    line-height: 0;

    span {
      vertical-align: middle;
    }
  }

  .navMenu {
    height: 100%;
  }

  .loginBar {
    display: flex;
    align-items: center;

    .name {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0;
      user-select: none;
      cursor: default;
      color: #4d5164;
      line-height: 64px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
    }
  }
}
